:root{
    --colorLight2:#ace6e9;
    --colorLight1:#5fb9bd;
    --colorLight:#0fbdc5;
    --color1:#127d82;
    --color2:#063638;
  }
.home_container{
    width: 100%;
}
.home_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    padding-left:13rem;
}
.home_info{
    padding: 0 3rem;
}
.home_heading{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color1);
    padding: 1rem 0;
}
.home_text{
    width: 90%;
    padding: 1rem 0;
    margin-bottom: .5rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.home_btn{
    border: 2px solid var(--color1);
    text-decoration: none;
    padding: .5rem 1rem;
    color: white;
    background: var(--color1) ;
    border-radius: .3rem;
    transition: .2s;
    font-size: 1.2rem;
    font-weight: 500;
}
.home_btn:hover{
    border: 2px solid var(--color2);
    background: var(--color2) ;
}

.home_img{
    width: 65rem;
}

@media screen and (max-width: 1600px) {
    .home_box{
        padding: 2rem 5rem;
    }
    .home_img{
        width: 50rem;
    }
}
@media screen and (max-width: 1268px) {
    .home_box{
        flex-flow: column-reverse;
        padding: 0;
    }
    .home_info{
        padding: 0 2rem;
    }
    .home_heading{
        font-size: 2.5rem;
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .home_img_box{
        width: 100%;
        padding: 2rem;
    }
    .home_img{
        width: 100%;
    }
    .home_heading{
        font-size: 2.5rem;
        width: 100%;
        padding: .5rem 0;
    }
    .home_text{
        padding: .5rem 0;
        font-size: 1.75rem;
    }
    .home_btn{
        font-size: 1rem;
        padding: .3rem .8rem;
    }
}
