.typing_dots {
  display: flex;
  padding: 7px 0rem;
}
.typing_dots div{
  width: 6px;
  height: 6px;
  background-color: white;
  margin: 0 2px;
  border-radius: 50%;
  animation: updown 1s infinite;
}
.typing_dots div:nth-child(2){
  animation-delay: .15s;
}
.typing_dots div:nth-child(3){
  animation-delay: .3s;
}
@keyframes updown {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5px);
  }
  70%{
    transform: translateY(0);
  }
}